@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: gray;
  text-align: center;
  margin-top: 100px;
  background-image: url('https://cdn.pixabay.com/photo/2020/03/25/21/05/pizza-4968645_1280.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#form-container {
  width: 60%;
  margin: auto;
  justify-content: center;
  color: black;
}
  #formModal {
    color: black;
 }

#order-card {
  height: 325px;
  width: 500px;
}
#welcome-title {
  font-family: 'Impact';
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: white;
  transition: all 0.3s ease;
  z-index: 3;
}
#welcome-title:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}
.btn-3 {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
#store {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
  color: white;
}
#view {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
  color: white;
}
.row{
  display: flex;
  flex-direction: row;
  width: 75rem;
  justify-content: center;
}

.card {
	border-radius: 8px;
	color: rgb(8, 1, 1);
	padding: 10px;
	position: relative;

	.zmdi {
		color: white;
		font-size: 28px;
		opacity: 0.3;
		position: absolute;
		right: 13px;
		top: 13px;
	}
	
	.stat {
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		font-size: 8px;
		margin-top: 25px;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	
	.title {
		display: inline-block;
    color: white;
		font-size: 18px;
    font-weight: 100;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	
	.value {
    color: white;
		font-size: 28px;
		padding: 0 10px;
	}
	
	&.blue {
		background-color: #2298F1;
	}
	
	&.green {
		background-color: #66B92E;
	}
	
	&.orange {
		background-color: #DA932C;
	}
	
	&.red {
		background-color: #D65B4A;
	}

  &.black{
		background-color: #08090a;
	}
};

.col-12{
  width: 250px;
}
.navbar{
  background: rgba( 35, 30, 30, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
backdrop-filter: blur(0px); background-color: rgba(255, 255, 255, 0.2); border-radius: 29px; box-shadow: 35px 35px 68px 0px rgba(7, 8, 8, 0.5), inset -4px -4px 16px 0px rgba(7, 8, 8, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

#details-card{
  background-color: white;
  color:#08090a;
  border-radius: 8px;
	padding: 10px;
	position: relative;
  margin: 10px;
}

.items-add-btn{
  display: block;
  margin: 30px 800px 10px 800px;
}

#form-container{
  padding-top: 20px;
  color: white;
}